/* styles go here */

.form-field {
  display: block;
  margin-top: 10px;
}

.form-fieldset:not(:first-child) {
  margin-top: 20px;
}

.form_submit {
  margin-top: 20px;
}

.form-field:last-child {
  margin: 10;
}

.form-field:nth-child(2) {
  margin: 0;
}
